<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="win81" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="win81" />
  <package id="Microsoft.ApplicationInsights" version="1.1.0" targetFramework="netcore5" />
  <package id="Microsoft.ApplicationInsights.PersistenceChannel" version="1.1.0" targetFramework="netcore5" />
  <package id="Microsoft.ApplicationInsights.WindowsApps" version="1.1.0" targetFramework="netcore5" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.25" targetFramework="netcore5" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="win81" />
  <package id="System.Globalization" version="4.0.10" targetFramework="netcore5" />
  <package id="System.IO" version="4.0.10" targetFramework="netcore5" />
  <package id="System.Numerics.Vectors" version="4.1.0" targetFramework="netcore5" />
  <package id="System.Private.Uri" version="4.0.0" targetFramework="netcore5" />
  <package id="System.Reflection" version="4.0.10" targetFramework="netcore5" />
  <package id="System.Reflection.Primitives" version="4.0.0" targetFramework="netcore5" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="netcore5" />
  <package id="System.Runtime" version="4.0.20" targetFramework="netcore5" />
  <package id="System.Runtime.Extensions" version="4.0.10" targetFramework="netcore5" />
  <package id="System.Text.Encoding" version="4.0.10" targetFramework="netcore5" />
  <package id="System.Text.Encoding.Extensions" version="4.0.10" targetFramework="netcore5" />
  <package id="System.Threading" version="4.0.10" targetFramework="netcore5" />
  <package id="System.Threading.Tasks" version="4.0.10" targetFramework="netcore5" />
</packages>