<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="netcore50" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="netcore50" />
  <package id="MetroLog" version="1.0.1" targetFramework="netcore50" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="netcore50" />
  <package id="Microsoft.Bcl.Build.Symbols" version="1.0.20.0" targetFramework="netcore50" developmentDependency="true" />
  <package id="MvvmLight" version="5.3.0.0" targetFramework="netcore50" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="netcore50" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="netcore50" />
  <package id="WindowsAzure.Messaging.Managed" version="0.1.7.9" targetFramework="netcore50" />
</packages>